<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />


<!--  Custom CSS -->
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<link rel="icon" type="image/png" th:href="@{/images/favicon.ico}" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">

<title>Save Bug</title>
</head>

<body>

	<div class="container">

		<div id="wrapper">
			<div class="pos-f-t">
				<div class="collapse" id="navbarToggleExternalContent">
					<div class="bg-dark p-4">
						<h4 class="text-white">Defect Logger📝</h4>
						<span class="text-muted">Simple Implementation of a Bug
							Logger</span>
					</div>
				</div>
				<nav class="navbar navbar-dark bg-dark">
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarToggleExternalContent"
						aria-controls="navbarToggleExternalContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>

					</button>
					<a class="navbar-brand" href="#">Bug Tracker</a>
				</nav>
			</div>
		</div>
		<div class="card text-center">
			<div class="card-header">Bug Anatomy</div>
			<div class="card-body">
				<div class="form-box">
					<form action="#" th:action="@{/bugs/save}" th:object="${bug}"
						method="POST">

						<!-- Add hidden form field to handle update -->
						<input type="hidden" th:field="*{id}" />
						<div class="form-inline mb-4">


							<div class="input-group">
								<div class="input-group-prepend ">
									<div class="input-group-text">
										<i class="fas fa-edit"></i>
									</div>
								</div>
								<input type="text" th:field="*{category}"
									class="form-control col-12 " placeholder="Enter Category">
							</div>
							<!-- Add error message (if present) -->
							<span th:if="${#fields.hasErrors('category')}"
								th:errors="*{category}" class="badge badge-danger ml-2 mb-4"></span>

						</div>

						<div class="form-inline mb-4">
							<div class="input-group">
								<div class="input-group-prepend ">
									<div class="input-group-text">
										<i class="fas fa-clipboard-list"></i>
									</div>
								</div>
								<textarea placeholder="Enter description"
									th:field="*{description}" class="form-control col-12 "
									id="exampleFormControlTextarea1" rows="3"></textarea>

							</div>
							<!-- Add error message (if present) -->
							<span th:if="${#fields.hasErrors('description')}"
								th:errors="*{description}" class="badge badge-danger ml-2 mb-4"></span>

						</div>

						<div class="form-inline mb-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-user-alt"></i>
									</div>
								</div>
								<input type="text" th:field="*{addedBy}"
									class="form-control col-12 " placeholder="Added By">
							</div>
							<!-- Add error message (if present) -->
							<span th:if="${#fields.hasErrors('addedBy')}"
								th:errors="*{addedBy}" class="badge badge-danger ml-2 mb-4"></span>

						</div>
						<div class="form-inline mb-4">
							<select id="bugstatus" class="form-control col-12 "
								th:field="*{status}">
								<option th:value="Open" th:text="Open" th:selected="true"></option>
								<option th:value="Fixed" th:text="Fixed"></option>
								<option th:value="Closed" th:text="Closed"></option>
							</select>

						</div>
						<div class="form-inline mb-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<i class="fas fa-clock"></i>
									</div>
								</div>

								<input type="text"
									th:value="${#dates.format(bug.date,'dd-MM-yyyy HH:mm:ss')}"
									class="form-control" disabled>
							</div>
							<!-- Add error message (if present) -->
						</div>

						<button type="submit" class="btn btn-info col-12 col-md-4">Save</button>
					</form>
				</div>

			</div>
			<div class="card-footer text-muted">
				<a th:href="@{/bugs/list}">Back to Bug List</a>
			</div>
		</div>



	</div>
</body>
<script src="https://kit.fontawesome.com/c54d0abb3a.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
</html>










